@model IEnumerable<WEB_TEST.Model.User>
@{
    ViewData["Title"] = "Index";
}

<h1>User</h1>

<table>
    <tbody>
        
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
        </tr>
        }
    </tbody>
</table>